{% extends "app_management_base.html" %}
{% block programs_title_bar %}App Management{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h2>Choose an Application</h2>
    </div>

    <table class="table table-hover">
        <tr>
            <td>
                <a href="{{url_for('remodel_et.main')}}">Remodel Expense Tracker</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{url_for('mtg.main')}}">Magic: The Gathering Collection Valuation Tool</a>
            </td>
        </tr>
    </table>

</div>
{% endblock %}