.brand-image {
    width: 30px;
    height: 30px;
    opacity: 0.5;
}

nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #66ed2d;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #c76308;
}

.nav-pills > li > a {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.navbar-default {
  background-color: #202945;
  border-color: #e7e7e7;
}

table {
  font-family: 'Montserrat', sans-serif;
}

.fixed {
    position: fixed;
}

#nav_title{
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2em;
  margin-right: 30px;
}

.contractor-buttons {
    margin-right: 5px;
}

.choices {
    margin-top: 1%;
    background-color: rgba(219, 219, 219, 0.897);
    border-radius: 10px;
    padding: 1%;
}

#myInput {
    background-image: url("searchicon.png"); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}





